@use "../../../assets/styles/colors" as c;
@use "../../../assets/styles/fonts" as f;
@use "../../../assets/styles/mixins" as *;

.result {
    width: 70%;
    margin: 30px 0;
    padding-bottom: 50px;
    border-radius: 88px;
    background-color: c.$bg-text;
}

.result__title {
    text-align: center;
    font-family: f.$highlight-text;
    font-size: 3rem;
}

.result__info {
    display: flex;
    justify-content: space-around;
    font-family: f.$plain-text;
    font-size: 1.25rem;
}

/* Медиазапрос для мобильных устройств (ширина экрана до 767px) */
@media (max-width: 767px) {
    .result__info {
        flex-direction: column;
        /*   столбцовая ориентация для элементов внутри контейнера */
        text-align: center;
        /* Выравнивание текста по центру */
        font-size: 1rem;
        /*  размер шрифта на мобильных устройствах */
        padding: 10px 0;
        /*  внутренние отступы по вашему усмотрению */
    }
}