@use '../../../assets/styles/colors' as c;
@use '../../../assets/styles/fonts' as f;
@use '../../../assets/styles/mixins' as *;

//Изображение персонажа
.character-img {
    border-radius: 49px;
    max-width: 40%;
}

//Изображение на начальной странице загрузки
.cartoon-init {
    //Наложение поверх кнопки
    position: relative;
    bottom: -25px;
    z-index: 10;

    width: 646px;
    height: 228px;
    transition: transform 1s ease-in-out;
    /* Плавное изменение положения */

    animation: breath 2s infinite alternate;
    /* Анимация дыхания */
}

@keyframes breath {
    0% {
        transform: translateY(0);
        /* Начальное положение */
    }

    100% {
        transform: translateY(-10px);
        /* Конечное положение (движение вверх) */
    }
}