@use '../../../assets/styles/colors' as c;
@use '../../../assets/styles/fonts' as f;
@use '../../../assets/styles/mixins' as *;

//Изображение персонажа
.character-img {
    border-radius: 49px;
    max-width: 40%;
}

//Изображение на начальной странице загрузки
.cartoon-init {
    width: 646px;
    height: 228px;
}
.img-footer__logo {
    width: 111px;
    height: 54px;
}