@use '../../../assets/styles/colors' as c;
@use '../../../assets/styles/fonts' as f;
@use '../../../assets/styles/mixins' as *;

.start-button {
    padding: 20px 100px;
    @include btn-text;
    border: none;
    border-radius: 88px;
    background-color: c.$btn-color;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.5s ease;
    /* Добавляем анимацию движения */
}

.start-button::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-color: rgba(243, 214, 74, 0.753); // Цвет фона при наведении
    transform-origin: top left;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.start-button:hover {
    transform: scale(1.05);
    /* Добавляем масштабирование при наведении */
}

.start-button:hover::before {
    transform: scaleX(1);
}

.start-button:hover:before {
    transform: translate(-50%, -50%) scale(2);
    opacity: 1;
    animation: sparkle 2s infinite;
    /* Анимация искр */
}

@keyframes sparkle {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    50% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}

/* Медиазапрос для мобильных устройств (ширина экрана до 767px) */
@media (max-width: 767px) {
    .start-button {
        padding: 15px 50px;
    }

    .start-button::before {
        background-color: rgba(243, 214, 74, 0.753); // Цвет фона при наведении
        transform-origin: top left;
        transform: scaleX(0);
        transition: transform 0.5s ease;
    }

    .start-button:hover {
        transform: scale(1.05);

    }

    .start-button:hover::before {
        transform: scaleX(1);

    }

    .start-button:hover:before {
        transform: translate(-50%, -50%) scale(2);
        opacity: 1;
        animation: sparkle 2s infinite;
    }
}