@use '../../../assets/styles/colors' as c;
@use '../../../assets/styles/fonts' as f;
@use '../../../assets/styles/mixins' as *;

.result__title {
    font-family: f.$title-text;
    font-size: 2rem;
    text-align: center;
}