$bg-color-main: #701B1B; //Основной фоновый цвет
$bg-color-footer: #EED492; //Цвет футера
$bg-text: #FBD060; //Фоновый цвет для текста
$btn-color: #FBD060; //Цвет кнопок
$text-highlight: #111010; //Цвет ярко-стилизованного текста