$bg-color-main: #FADB9F; //Основной фоновый цвет
$bg-color-footer: #D6F3D6; //Цвет футера
$bg-text: #FFFFFF; //Фоновый цвет для текста (белый)

$btn-color: #FF9595; //Цвет кнопок
$text-highlight: #2083DF; //Цвет ярко-стилизованного текста