@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

$highlight-text: "Luckiest Guy", cursive;
$title-text: "Martel", serif;
$plain-text: "RocknRoll One", cursive;