@use 'colors' as c;
@use 'fonts' as f;
@use 'mixins' as *;

html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    @include clear-mp;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

//HEADER

.header {
    display: flex;
    justify-content: center;
    background-color: c.$bg-color-main;
}

.header__logo {
    width: 25%;
}

//MAIN

.main {
    background-color: c.$bg-color-main;
}

.wrapper {
    @include vertical-flex;
}

//FOOTER

.footer {
    @include vertical-flex;
    gap: 30px;
    padding: 30px 0;
    font-family: f.$plain-text;
    background-color: c.$bg-color-footer;
}

.footer__logo {
    width: 70px;
}

.footer__authors {
    display: flex;
    justify-content: space-around;
    width: 75%;
}

.footer__author {
    display: flex;
    align-items: center;
    gap: 30px;
}

//РАМКА С ТЕКСТОМ

.prompt {
    position: relative;
    width: 58%;
    margin-bottom: 30px;
    padding: 0 30px;
    border-radius: 49px;
    background-color: c.$bg-text;
}

.prompt__text {
    font-family: f.$highlight-text;
    font-size: 4rem;
    color: c.$text-highlight;
    text-align: center;
}

.prompt__img {
    position: absolute;
    width: 94px;
    height: 94px;
}

.prompt__img--left {
    top: -30px;
    left: -50px;
}

.prompt__img--right {
    bottom: -50px;
    right: -30px;
}

//КОНТЕЙНЕР, ЗАПОЛНЯЕМЫЙ JS

//Добавила в стили компонента presentation/components/result, Юля
/* .populate {
    @include vertical-flex;
    width: 100%;
    margin: 50px 0;
} */


//СТИЛИ ДЛЯ КОМПОНЕНТОВ

//STARTING PAGE (разобрать на компоненты)

//КНОПКА (добавила в стили компонента presentation/ui-kit/button, Юля)

/* .start-button {
    padding: 20px 100px;
    @include btn-text;
    border: none;
    border-radius: 88px;
    background-color: c.$btn-color;
}

.start-button:hover {
    cursor: pointer;
} */

//НАЧАЛЬНАЯ КАРТИНКА (добавила в стили компонента presentation/ui-kit/image, Юля)

/* .cartoon-init {
    width: 265px;
} */

//БЛОК С РЕЗУЛЬТАТОМ (разобрать на компоненты)

// ИЗОБРАЖЕНИЕ ПЕРСОНАЖА (добавила в стили компонента presentation/ui-kit/image, Юля)

/* .character-img {
    border-radius: 49px;
} */

//Рамка с результатами поиска. Добавила в стили компонента presentation/components/info-box
/* .result {
    width: 70%;
    margin: 30px 0;
    padding-bottom: 50px;
    border-radius: 88px;
    background-color: c.$bg-text;
}

.result__title {
    text-align: center;
    font-family: f.$highlight-text;
    font-size: 3rem;
}

.result__info {
    display: flex;
    justify-content: space-around;
    font-family: f.$plain-text;
    font-size: 1.25rem;
} */